body {
    --canvas-color-1: hsl(235, 100%, 50%, 1);
    --canvas-color-2: hsl(269, 100%, 50%, 1);
    --canvas-color-3: hsl(283, 100%, 50%, 1);
    --canvas-color-4: hsl(293, 100%, 50%, 1);
    --canvas-color-5: hsl(318, 100%, 50%, 1);
    --canvas-color-6: hsl(333, 100%, 50%, 1);
}